/*dashboard*/
.bloc-content{
    background-color:#F2FAFF;
    padding:40px;
    border-radius:10px;
    box-shadow:0px 3px 15px -4px rgba(0,0,0,0.7)
}
.row-content{
    padding:20px 0px;
}
.header-content{
    margin-top:30px;
}
.bloc-content h5{
    text-align:center;
}
